In [2]:
import pandas as pd
df=pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
print('Mean Age:',df['Age'].mean())

Mean Age: 29.69911764705882

In [6]:
print('Meadian Age:',df['Age'].median())

Meadian Age: 28.0

In [8]:
print('Mode Age:',df['Age'].mode()[0])

Mode Age: 24.0

In [9]:
print('Std Age:',df['Age'].std())

Std Age: 14.526497332334044

In [11]:
print('variance Age:',df['Age'].var())

variance Age: 211.0191247463081

In [13]:
import numpy as np
q1=np.percentile(df['Age'].dropna(),25)
q2=np.percentile(df['Age'].dropna(),50)
q3=np.percentile(df['Age'].dropna(),75)
iqr=q3-q1

In [14]:
print('Q1:',q1,'Q2:',q2,'Q3:',q3,'IQR:',iqr)

Q1: 20.125 Q2: 28.0 Q3: 38.0 IQR: 17.875

In [15]:
#co-relation
print(df[['Age','Fare']].corr())
print(df[['Pclass','Fare']].corr())

           Age      Fare
Age   1.000000  0.096067
Fare  0.096067  1.000000
        Pclass    Fare
Pclass  1.0000 -0.5495
Fare   -0.5495  1.0000