In [1]:
import pandas as pd
df=pd.read_csv('train.csv')

In [2]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
df['Age'].fillna(df['Age'].median(),inplace=True)

In [4]:
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [6]:
df['Cabin'].fillna("Unknown",inplace=True)

In [7]:
df.dropna(axis=0, subset=['Fare'], inplace=True)

In [8]:
print("Duplicates before:", df.duplicated().sum())

Duplicates before: 0

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
print("Duplicates after:", df.duplicated().sum())

Duplicates after: 0

In [11]:
print(df.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [12]:
df['Pclass'] = df['Pclass'].astype('category')
df['Survived'] = df['Survived'].astype('category')

In [13]:
print(df.dtypes)

PassengerId       int64
Survived       category
Pclass         category
Name             object
Sex              object
Age             float64
SibSp             int64
Parch             int64
Ticket           object
Fare            float64
Cabin            object
Embarked         object
dtype: object

In [14]:
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1

# Detect outliers
outliers = df[(df['Fare'] < (Q1 - 1.5 * IQR)) | (df['Fare'] > (Q3 + 1.5 * IQR))]
print("Number of outliers in Fare:", outliers.shape[0])

Number of outliers in Fare: 116